/*
    Ariake (dark)
    Created by Lukas Bergdoll (http://github.com/Voultapher)
*/

.hljs-comment,
.hljs-quote {
  color: hsl(228, 17%, 45%);
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-link,
.hljs-meta {
  color: hsl(197, 92%, 78%);
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion {
  color: hsl(197, 92%, 78%);
}

.hljs-title,
.hljs-section,
.hljs-attribute {
  color: hsl(211, 97%, 98%);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: hsl(177, 72%, 77%);
}

.hljs-keyword,
.hljs-selector-tag {
  color: hsl(282, 82%, 80%);
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #2a2d37;
  color: hsl(228, 15%, 90%);
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
