[submodule "cppcon2017WebService/example/server/uWebSockets/lib/uWebSockets"]
	path = cppcon-2017-web-service/example/server/uWebSockets/lib/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "cppcon2017WebService/example/server/beast/lib/beast"]
	path = cppcon-2017-web-service/example/server/beast/lib/beast
	url = https://github.com/boostorg/beast.git
[submodule "_present"]
	path = _present
	url = https://github.com/hakimel/reveal.js.git
