.App {
  text-align: left;
  margin: 1em;
  padding: 1em;

  font-size: 1em;
  color: #444;
  background-color: #fff;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.ResultDescription {
  font-weight: 600;
}

.ResultBar {
  outline: 1px solid #ccc;
  background-color: #eee;
  height: 1.7em;
  margin-bottom: 0.5em;
}


h1 {
  text-align: center;
}

li {
  margin-bottom: 1.5em;
}

button {
    background-color: #494165;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

button:hover {
  box-shadow: 0px 1px 2px #888;
}
